* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #ffc119;
    --bg-color: #242222;;
    --nav-color: #0d0d30;
}

.start {
    position: relative;
    background-color: var(--bg-color);
    color: #fff;
}

.start a {
    text-decoration: none;
    color: var(--main-color);
}

.item a:visited {
    color: var(--main-color);
}

header {
    position: fixed;
    top: 0;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: 100%;
    max-height: 50px;
    background-color: var(--nav-color);
    font-family: sans-serif;
    font-size: large;
    z-index: 9999;
}

header .links  {
    display: flex;
    align-items: center;
}

header .links > h3 {
    font-size: xx-large;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links > svg {
    display: inline;
    margin: 5px;
    cursor: pointer;
}

nav {
    float: left;
    margin: 10px;
}
  
nav a,
nav li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}

/* Implement a better Hover  */
.profile-container {
    display: flex;
    align-items: center;
    color: var(--main-color);
    cursor: pointer;
}

/* Overlay menu styles */
.overlay-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100px;
    background-color: var(--bg-color);
    transition: top 0.3s ease;
    padding: 10px;
    overflow: hidden;
    z-index: 2;
}
  
.overlay-menu.open {
    top: 0;
}
  
.overlay-menu ul {
    /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
    list-style: none;
    padding: 0;
}
  
.overlay-menu ul li {
    margin-bottom: 20px;
}
  
.overlay-menu ul li a {
    /* color: white; */
    text-decoration: none;
    font-size: 24px;
}

.profile-container  img {
    border-radius: 50%;
    max-width: 60px;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer; 
}

.profile-container > div {
    display: flex;
    align-self: center;
    justify-self: space-between;
    margin: 15px;
}

.profile-container > i {
    font-size: large;
    font-weight: 600;
}

main {
    position: relative;
    top: 75px;
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    height: 600px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}
  
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.slide {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}

.slide > h3 {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
}
  
.slide img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.slide img:hover {
    opacity: 1;
}
  
.front {
    position: absolute;
    bottom: 0%;
    left: 4%;
    z-index: 1;
    padding: 10px;
}

.front p {
    line-break: auto;
}
  
.caption {
    text-align: center;
}
  
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 1000;
}

.prev:hover,
.next:hover {
    background-color: var(--bg-color);
    opacity: 0.9;
}
  
.prev {
    left: 0;
}
  
.next {
    right: 0;
}
  

.container {
    border: 1px solid #fff;
    height: 100%;
    width: 80%;
    height: 100%;
    margin: auto;
}

.release-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 10px;
    color: black;
}

.release h3 {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    font-size: medium;
}

.release h3:nth-child(2) {
    color: black;
}

.release h3:nth-child(3) {
    color: black;
}

.release button:hover {
    color: #fff;
}

.search {
    position: relative;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid #000;
    outline: none;
    color: black;
    cursor: text;
}

.fa-search {
    position: relative;
    right: 30px;
    color: black;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 80px;
}

.poster {
    position: relative;
    max-width: 200px;
    height: 300px;
    border: 2px solid yellow;
    transition: transform 0.2s;
}

.poster:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.poster img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}

/* change margin on or off  */
.poster p {
    position: relative;
    font-size: small;
    text-align: center;
}

.poster > .name {
    top: 2px;
    color: var(--main-color);
    cursor: pointer;
}

.poster > .episode {
    top: 3px;
}

footer {
    width: 80%;
    margin: auto;
    padding: 30px;
}

footer a {
    font-size: 12px;
    cursor: pointer;
}

/* login form */

.overlay {
    position: fixed;
    display: none;
    width: 80%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    -webkit-animation: fadein 0.7s ease-in;
    -moz-animation: fadein 0.7s ease-in;
    animation: fadein 0.7s ease-in;
    backdrop-filter: blur(10px);

}

.form-box {
    position: relative;
    width: 500px;
    height: 550px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2e2b2b;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dub, .sub {
    margin-left: 4px;
    text-align: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .2s;
}

/* input:focus ~ label,
input:valid ~ label {
    top: -5px;
} */

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

#password {
    color: black;
}

.login-configuration, .register-configuration {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register h1 {
    cursor: pointer;
    text-decoration: underline;
}

.register a {
    color: #1338BE;
    cursor: pointer;
}

.register p a {
    text-decoration: none;
    color: #1338BE;
}

.register p a:hover {
    text-decoration: underline;
}

.login-form h1, .register-form h1 {
    text-decoration: none;
    color: #1338BE;
}

.login-form h1:hover, .register-form h1:hover {
    text-decoration: underline;
}

.gg-menu {
    display: none;
}

/* login animation */
@keyframes fadein {
    0%   { opacity: 0; }
    50% {opacity: 0.5;}
    100% { opacity: 1; }
}   

/* mobile */

@media screen and (max-width: 988px) and (min-width: 150px) {

    .start {
        width: 100%;
    }

    .slideshow-container {
        max-width: 100%;
        height: 500px;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .start header nav li {
        display: none;
    }

    .items {
        justify-content: space-evenly;
        gap: 100px;
    }
    
    .item {
        max-width: 130px;
        height: 180px;
    }

    .gg-menu {
    display: block;
    }
}

