* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #ffc119;
    --bg-color: #242222;
    --nav-color: #1a1a1a;
    --text-color: #fff;
    --link-color: #ff8c00; /* or #ffa07a, or #66d9ef */
    --close-button-color: #2f4f7f; /* dark blue */
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

.video-container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #1f1f1f;
    padding: 10px;
    height: 90vh;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: auto;
}

.episode-list {
    display: flex;
    flex-direction: column;
}

.episode-range {
    background-color: #2f2f2f;
    padding: 5px;
    text-align: center;
}
.episode-range > button{
    width: 100%;
    border: none;
    background: none;
    color: #fff;
}
.episodes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.episodes a {
    text-decoration: none;
}

.episode {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 12.5px;
    background-color: #363636;
    color: #fff;
    max-width: 100%;
    height: 30px;
    transition: all 0.3s linear 0s;
}

.episode:hover {
    background-color: #ffc119;
    animation: flash 0.4s;
}

.episode:not(:hover) {
    animation: flash 2s;
}

.episode.active {
    background-color: #d87c7c;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.video-player {
    position: relative;
    background-color: #000;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    width: 100%;
    height: 460px;
    align-items: center;
    
}

.video-player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.anime-info {
    background-color: #1f1f1f;
    margin-top: 10px;
    padding: 20px;
}

.anime-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.anime-info img {
    float: left;
    width: 100px;
    min-height: 100px;
    padding-right: 10px;
}

.anime-details p {
    max-width: 50%;
    margin: 10px 0;
}

.anime-details button {
    padding: 2px;
}

.rating {
    margin-top: 20px;
}

.rating-score {
    font-size: 30px;
}

.rating-vote {
    margin-top: 10px;
}

.rating-options button {
    background-color: #2f2f2f;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.rating-options button:hover {
    background-color: #ffc119;
    color: #fff;
    animation: flash 0.4s;
}

.rating-options:not(:hover) {
    color: #000;
    animation: flash 2s;
}

.comments img {
    width: 50px;
    height: auto;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    
    .video-main {
        width: 100%;
        order: 2;
    }

    .main-content {
        order: 1;
    }

    .episodes {
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    }

    .video-player {
        padding-bottom: 75%; /* 4:3 aspect ratio */
    }
}

@media (max-width: 480px) {
    .video-player {
        padding-bottom: 100%; /* 1:1 aspect ratio */
    }
}